# Sample my.cnf for mysql-upgrade
[mysqld]
set-variable = datadir=/var/lib/mysql
skip-locking
master-host=192.168.1.1
log-slow-queries = slow-log # this should expand to multiple options in 5.1

# Verify this gets strips out for MySQL 5.5+
ignore-builtin-innodb
plugin-load = ha_innodb_plugin.so

wsrep-sst-auth = "root:somepassword#hash" # testing correct inline comment removal
